@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.ttf'),
        url('../assets/fonts/Inter-Regular.eot') format("embedded-opentype"),
        url('../assets/fonts/Inter-Regular.woff2') format("woff2"),
        url('../assets/fonts/Inter-Regular.ttf') format("truetype"),
        url('../assets/fonts/Inter-Regular.svg') format("svg");
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Medium.ttf'),
        url('../assets/fonts/Inter-Medium.eot') format("embedded-opentype"),
        url('../assets/fonts/Inter-Medium.woff2') format("woff2"),
        url('../assets/fonts/Inter-Medium.ttf') format("truetype"),
        url('../assets/fonts/Inter-Medium.svg') format("svg");
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-SemiBold.ttf'),
        url('../assets/fonts/Inter-SemiBold.eot') format("embedded-opentype"),
        url('../assets/fonts/Inter-SemiBold.woff2') format("woff2"),
        url('../assets/fonts/Inter-SemiBold.ttf') format("truetype"),
        url('../assets/fonts/Inter-SemiBold.svg') format("svg");
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Bold.ttf'),
        url('../assets/fonts/Inter-Bold.eot') format("embedded-opentype"),
        url('../assets/fonts/Inter-Bold.woff2') format("woff2"),
        url('../assets/fonts/Inter-Bold.ttf') format("truetype"),
        url('../assets/fonts/Inter-Bold.svg') format("svg");
    font-weight: bold;
}