$theme-black: #161616;
$theme-green: #0BAD1B;
$white: #fff;
$main-txt: #393939;
$secondary-txt: #6F6F6F;
$menu-hover: #262626;
$nav-bg: #F9F9F9;
$nav-border: #E0E0E0;
$search-placeholder: #A8A8A8;
$search-border: #C5C5C5;